In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
from trading_middlewares.io.dataframe import ParquetDataFrame
import os
from dotenv import load_dotenv

load_dotenv('../env/s3.env')

True

In [5]:
dataframe = ParquetDataFrame(file_path="historical-etf-data/",
                              s3_access_key="jkWzIHSmTtP08g5k3Rmh",
                              s3_secret_key="ZEMqktzGD5uoyKLYgf2jQ2dCMTVLnXMfPxNZG00l",
                              endpoint="http://localhost:9000")

filter_dict = {'week_id': ['202440', '202441']}
data = dataframe.read(filter_dict=filter_dict)
data.head()

2024-10-10 14:04:31.400 | INFO     | trading_middlewares.io.dataframe:__init__:51 - Connection successful! Available buckets:

,date,open,high,low,close,volume,week_id,symbol
0,2024-09-30,237.350006,237.800003,228.949997,228.949997,13658985,202440,00631L.TW
1,2024-10-01,230.250000,231.350006,228.850006,230.000000,4620362,202440,00631L.TW
2,2024-10-02,230.000000,230.000000,230.000000,230.000000,0,202440,00631L.TW
3,2024-10-03,230.000000,230.000000,230.000000,230.000000,0,202440,00631L.TW
4,2024-10-04,229.800003,232.399994,227.250000,228.100006,4449640,202440,00631L.TW

In [6]:
data['symbol'].unique()

['00631L.TW', '00640L.TW', '00656R.TW', '00665L.TW', '00671R.TW', ..., 'ZROZ', 'ZTAX', 'ZTEN', 'ZTRE', 'ZTWO']
Length: 2461
Categories (2476, object): ['MDY', 'EWA', 'EWD', 'EWH', ..., 'JMID', 'MSTU', 'COPA', 'PATN']